.clearfix::after{
	content: "";
	display: table;
	clear: both;
	width: 0;
	height: 0;
	font-size: 0;
}
body,ul{
	padding: 0;
	margin: 0;
}
.menu{
	margin-top: 20px;
	background: orange;
	font-size: 20px;
  	text-align: center;
  	height: 50px;
  	line-height: 50px;
  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
}
.menu ul{
	width: 606px;
	margin: auto;
	
}
.menu ul li{
	float: left;
	display: inline-block;
	
}
.menu ul li a{
	display: table;
	width: 200px;
	border-left: 1px solid rgba(0,0,0,.3);
	color: #000;
	text-decoration: none;
	text-align: left;
	transition: all .5s;
}
.menu ul li:last-child a{
	border-right:1px solid rgba(0,0,0,.3) ;
}
.menu ul li a:hover{
	color: #fff;
}
.menu ul li a i{
	color: #fff;
	opacity: 0;
	transition: all .5s; 
}
.menu ul li a:hover i{
	opacity: 1;
}
