.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul {
	padding: 0;
	list-style-type: none;
}
body{
	background: url(../img/bg.jpg) no-repeat fixed top center ;
    min-height: 3000px;
    color: #fff;
    margin: auto;
    min-width: 900px;
}div ul li a{
	color: #fff;
	text-decoration: none;
}
.logo img{
	width: 80px;
	height: auto;
}
header{
	max-width: 1200px;
	margin: 30px auto;
	position: relative;
}
header div{
	position: absolute;
	right: 0px;
	top: 0px;
}
header div ul li{
	float: left;
	margin: 20px 20px;
}
header div ul li a{
	border: 1px solid rgba(0,0,0,0);
	padding: 20px;
	transition: all .5s;
}
header div ul li a:hover{
	color: #000;
	border: 1px solid #FFFFFF;
}
